<!-- Designed by Arunlal Panja -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Arunlal Panja">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="css/kisu.css" />

</head>

<body>
    <style>
        #offcanvasTop {
            --bs-offcanvas-height: 80vh;
            background-color: #c5e1d4;
        }
    </style>


    <!-- top navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top"
        style="background-image: linear-gradient(to bottom, #9ed5b0, #89d466);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#">
                <img src="images/logo.png" alt="Logo" class="me-2" style="max-height: 30px;">
                <!---BHARAT ECOVISION-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
                aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="d-flex ms-auto my-3 my-lg-0">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->

    <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="sidebar"
        style="background-image: linear-gradient(to left, #2a7d65, #5aaa75);">

        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <br>
                        <div class="text-dark small fw-bold text-uppercase px-3">
                            CORE
                        </div>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-3 active text-dark">
                            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-dark small fw-bold text-uppercase px-3 mb-3">
                            Interface
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link text-dark" data-bs-toggle="collapse" href="#layouts">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Apply For Land</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3 text-dark">
                                        <span class="me-2"><i class="bi bi-file-earmark-plus"></i></span>
                                        <span>New+</span>
                                    </a>
                                    <a href="#" class="nav-link px-3 text-dark">
                                        <span class="me-2"><i class="bi bi-file-earmark-plus"></i></span>
                                        <span>Existing</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="app_status.html" class="nav-link px-3 text-dark">
                            <span class="me-2"><i class="bi bi-list-check"></i></span>
                            <span>Application Status</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-dark small fw-bold text-uppercase px-3 mb-3">
                            Addons
                        </div>
                    </li>
                    <li>
                        <a href="app_payment.html" class="nav-link px-3 text-dark">
                            <span class="me-2"><i class="bi bi-receipt"></i></span>
                            <span>Payment History</span>
                        </a>
                    </li>
                    <li>
                        <a href="contact_us.html" class="nav-link px-3 text-dark">
                            <span class="me-2"><i class="bi bi-headset"></i></span>
                            <span>Contact Support</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>





    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="container py-5">
                <div class="row g-5">
                    <!-- Contact Information Block -->
                    <div class="col-xl-6">
                        <div class="row row-cols-md-2 g-4">
                            <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="aos-item__inner">
                                    <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                                        <div class="d-flex justify-content-start">
                                            <i class="fa-solid fa-envelope h3 pe-2"></i>
                                            <span class="h5">Email</span>
                                        </div>
                                        <span>chauhankarishma81@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
                                <div class="aos-item__inner">
                                    <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                                        <div class="d-flex justify-content-start">
                                            <i class="fa-solid fa-phone h3 pe-2"></i>
                                            <span class="h5">Phone</span>
                                        </div>
                                        <span>+0123456789, +9876543210</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aos-item mt-4" data-aos="fade-up" data-aos-delay="600">
                            <div class="aos-item__inner">
                                <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                                    <div class="d-flex justify-content-start">
                                        <i class="fa-solid fa-location-pin h3 pe-2"></i>
                                        <span class="h5">Office location</span>
                                    </div>
                                    <span>12th main road, 27th cross, Banashankari Stage II</span>
                                </div>
                            </div>
                        </div>
                        <div class="aos-item" data-aos="fade-up" data-aos-delay="800">
                            <div class="mt-4 w-100 aos-item__inner">
                                <!-- <iframe class="hvr-shadow" width="100%" height="345" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe> -->
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.7801144404975!2d77.56460957469207!3d12.92184938738897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1581f3b9831f%3A0xd55b93797e0387ef!2sBNMIT%20Main%20Building%2C%20Banashankari%20Stage%20II%2C%20Banashankari%2C%20Bengaluru%2C%20Karnataka%20560070!5e0!3m2!1sgu!2sin!4v1721417021751!5m2!1sgu!2sin"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>

                    <!-- Contact Form Block -->
                    <div class="col-xl-6">
                        <h2 class="pb-4">Leave a message</h2>
                        <div class="row g-4">
                            <div class="col-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Fname</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Radha">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Lname</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Devi">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="exampleFormControlInput1"
                                placeholder="+1234567890">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">State</label>
                            <input type="tel" class="form-control" id="exampleFormControlInput1"
                                placeholder="Tamil Nadu">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-dark">Send Message</button>
                        <button type="button" class="btn btn-dark" onclick="window.location.href='applicant.html'">Back
                            to
                            Home</button>

                    </div>
                </div>
            </div>
    </main>

    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
</body>

</html>