<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>Login</title>
                <link rel="stylesheet" href="/static/css/login.css">
            </head>
            <body>
                <div class="login-container">
                    <div class="logo">
                        <img src="/static/images/logo.png" alt="EcoVision Logo">
                    </div>
                    <div class="login-box">
                        <h1>LOGIN</h1>
                        <form action="" method="post">
                        {% csrf_token %}
                            <div class="mb-3">
                                <label for="login_id" class="form-label">Login ID</label>
                                <input type="text" class="form-control" id="login_id" name="login_id" value="{{ login_id }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" value="{{ password }}" required>
                            </div>
                        
                            <div class="login-actions">
                                <a href="#" class="forgot-password">Forget Password</a>
                            </div>
                <button type="submit">Submit</button>
            </form>
            <div class="register-link">
                No Account? <a href="#">Register</a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
